
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cinzel:wght@400..900&family=Mate+SC&display=swap');


  .imgheader {
    width: 100%;
    height: auto; /* To maintain the aspect ratio */
    object-fit: cover;

  }
  .imgheader {
    height: 35vh;
    overflow: hidden; /* Ensures no content overflow */
  }
  .footer{
    background-color: #cccccc84;
    height: 8.3em;
  }
  
  .footer img {
    width: 10%;
    float: right;
    margin-top: 1em;
    height: auto; /* To maintain the aspect ratio */
    margin-right: 10px;

  }
  .textsfoot{
    float: left;
    margin-top: 10px;
    
  }
  .Fmail{
    text-decoration: none;
    color:#4f4f4f;
    font-size: 13px;
    margin-top: 1em;
    margin-left: 1em;
    list-style: none

    
  }
  .FText{
    text-decoration: none;
    color:#4f4f4f;
    font-size: 13px;
    margin-top: 1em;
    margin-left: 1em;
    list-style: none

    
  }
  body {
    margin: 0;
    padding: 0;
  }
  
  
.RegText{
    /* margin-top: -4em; */
    opacity: 0.7;
    font-family: "Mate SC", serif;

    font-size: 2em;
text-align: center;
    color:#6e6c6c;
}


@media screen and (min-width:729px )and (max-width: 1061px)  {
    .imgheader {
        width: 100%;
        height: auto; /* To maintain the aspect ratio */
        object-fit: cover;
    
      }
      .imgheader {

        overflow: hidden; /* Ensures no content overflow */
      }
      .footer{
        background-color: #cccccc84;
        height: 11.5em;
      }
      
      .footer img {
        width: 10%;
        float: right;
        margin-top: 1em;
        height: auto; /* To maintain the aspect ratio */
        margin-right: 10px;
    
      }
      .textsfoot{
        float: left;
        margin-top: 10px;
        
      }
      .Fmail{
        text-decoration: none;
        color:#4f4f4f;
        font-size: 13px;
        margin-top: 1em;
        margin-left: 1em;
        list-style: none
    
        
      }
      .FText{
        text-decoration: none;
        color:#4f4f4f;
        font-size: 13px;
        margin-top: 1em;
        margin-left: 1em;
        list-style: none
    
        
      }
      body {
        margin: 0;
        padding: 0;
      }
      
      
    .RegText{
        /* margin-top: -4em; */
        opacity: 0.7;
        font-family: "Mate SC", serif;
        margin-top: 2em;
        font-size: 1em;
    text-align: center;
        color:#6e6c6c;
    }
    
}
@media screen and (min-width:1062px )and (max-width: 1263px)  {
    .imgheader {
        width: 100%;
        height: auto; /* To maintain the aspect ratio */
        object-fit: cover;
    
      }
      .imgheader {
        height: 35vh;
        overflow: hidden; /* Ensures no content overflow */
      }
      .footer{
        background-color: #cccccc84;
        height: 13.5em;
      }
      
      .footer img {
        width: 10%;
        float: right;
        margin-top: 1em;
        height: auto; /* To maintain the aspect ratio */
        margin-right: 10px;
    
      }
      .textsfoot{
        float: left;
        margin-top: 10px;
        
      }
      .Fmail{
        text-decoration: none;
        color:#4f4f4f;
        font-size: 13px;
        margin-top: 1em;
        margin-left: 1em;
        list-style: none
    
        
      }
      .FText{
        text-decoration: none;
        color:#4f4f4f;
        font-size: 13px;
        margin-top: 1em;
        margin-left: 1em;
        list-style: none
    
        
      }
      body {
        margin: 0;
        padding: 0;
      }
      
      
    .RegText{
        /* margin-top: -4em; */
        opacity: 0.7;
        font-family: "Mate SC", serif;
        margin-top: 2em;
        font-size: 3em;
    text-align: center;
        color:#6e6c6c;
    }
    
}
@media screen and (min-width:1264px )and (max-width: 1442px)  {
    
      .footer{
        background-color: #cccccc84;
        height: 15.5em;
      }
      
     
    
}
@media screen and (min-width:1443px )and (max-width: 1776px)  {
    
      .footer{
        background-color: #cccccc84;
        height: 18.5em;
      }
      
     
    
}
@media screen and (min-width:1777px )and (max-width: 1994px)  {
    
      .footer{
        background-color: #cccccc84;
        height: 20.5em;
      }
      
     
    
}
@media screen and (min-width:1994px )and (max-width: 2396px)  {
    
      .footer{
        background-color: #cccccc84;
        height: 24.5em;
      }
      
     
    
}
@media screen and (min-width:2397px )  {
    
      .footer{
        background-color: #cccccc84;
        height: 40.5em;
      }
      
     
    
}