.Tttle{
  text-align: center;
  opacity: 0.5;
}
.NameGreet{
  text-align: center;
  opacity: 0.6;

}
.bdy{
  text-align: center;
  display: flex;
  flex-direction: column;

}
body{
  background-color: #cccccc3a;
}